.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.section {
  border: 3px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 0rem;
  width: 20rem;
  width: 20;
  background-color: aqua;
}
.section-name {
  position: relative;
  margin: 2rem;
  border: 5px solid salmon;
}
.movie-card-image {
  position: relative;
  object-fit: cover;
  width: 16rem;
  aspect-ratio: 16/9;
  border: 3px solid black;
}

.card {
  height: 16rem;
  width: 16rem;
  margin-left: 1rem;
}
